name: Combot Pull Request CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build project with cache
        run: ./gradlew build --stacktrace

      - name: Run app unit tests
        run: ./gradlew :app:testDebugUnitTest

      - name: Run combot unit tests
        run: ./gradlew :combot:testDebugUnitTest